@import "./theme";

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('../assets/background.jpg');
    background-size: 100% 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
