<app-dialog title="Password Change" 
[pending]="pending" [disabled]="passwordForm.invalid" (confirmed)="confirm()">
    <form [formGroup]="passwordForm">
        <input
        type="password"
        formControlName="oldPassword"
        [classList]="'form-control'"
        placeholder="Enter old password">         
        <input
        type="password"
        formControlName="newPassword"
        [classList]="'form-control'"
        placeholder="Enter new password">       
        <input
        type="password"
        formControlName="newPasswordConfirmation"
        [classList]="'form-control'"
        placeholder="Confirm new password">           
    </form>
</app-dialog>