.mat-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 47px;
}

.main{
    display: flex;
    flex-direction: row;
}

form{
    margin-left: 20px;
}

input, select{
    height: 40px;
    width: 250px;
}

.form-control:focus {
    border-color: #00f7ff;
}
